/* COLOR PALETTE
* 
* faded yellow: #e7e5c6
* yellow: #ffe393
* light green: #66876c
* green: #4e6853
* dark green: #3d4e41
* 
*/

:root{
    /*COLOR PALETTE*/
    --lightyellow: #e7e5c6;
    --yellow: #ffe393;
    --lightgreen: #66876c;
    --green: #4e6853;
    --darkgreen: #3d4e41;
    /* -------------------- */

    background-color: var(--green);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0px;
}


.header{
    display: flex;
    align-items:stretch;
    justify-content: space-between;

    background-color: var(--darkgreen);
    padding-top: 10px;
    padding-bottom: 10px;
    width:100vw;

}

.footer{
    position:fixed;
    bottom: 0;
    width:100vw;
    background-color: var(--darkgreen);


}


a:link{

}

a:visited{

}

a:hover{

}

a:active{

}

a{
    margin: 10px;
    color: var(--yellow);
    text-decoration: none;
}

div{
    font-size: 20px;
    color: var(--yellow);
}

hr{
    margin:0px;
    color: var(--lightyellow);
    height: 5px;
    background-color: var(--lightyellow);
}