/* COLOR PALETTE
* 
* faded yellow: #e7e5c6
* yellow: #ffe393
* light green: #66876c
* green: #4e6853
* dark green: #3d4e41
* 
*/

:root{
    /*COLOR PALETTE*/
    --lightyellow: #e7e5c6;
    --yellow: #ffe393;
    --lightgreen: #66876c;
    --green: #4e6853;
    --darkgreen: #3d4e41;
    /* -------------------- */

    background-color: var(--green);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0px;
}

div{
    font-size: 20px;
    color: var(--yellow);
}

div.grid-container{
    margin: 0px;

    display:grid;
    grid-template-rows:auto 1fr auto;
    grid-template-columns:100%;
    
    min-height:100vh;
}


/* ============================================================== */
/* Page Transitions */
div.transition-screen{
    background-color:var(--green);
    width:100vw;
    height:100vh;
    z-index:100;
    pointer-events: none;
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

}

div.transition-screen.active{
    opacity:1;
    pointer-events: auto;
}

/* ============================================================== */


/* ============================================================== */
/* Header */

header{
    background-color: var(--darkgreen);
    padding-top: 10px;
    width:100vw;

    position:sticky;
    top:0;
    z-index:999;
}

div.header-container{
    display: flex;
    align-items:center;
    justify-content: space-between;

    margin-left:auto;
    margin-right:auto;

    width:90vw;
    height:70px;
    padding-bottom: 10px;
}

div.header-name{
    font-size:30px;
}

/* nav{

} */

/* ============================================================== */



/* ============================================================== */
/* Footer  */
footer{

    width:100vw;
    background-color: var(--darkgreen);

    padding-bottom:20px;

}

.contact-info-container{
    display: flex;
    flex-direction: column;
}


.contact-info-title-text{
    color:var(--lightyellow);
    font-size:20px;
    margin:5px;
}

.contact-info-text{
    color: var(--lightyellow);
    font-size: 12px;
}

.contact-link-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-self: center;
    align-items:center;
    width:200px;
}
/* ============================================================== */





/* ============================================================== */
/* Links and Navigation */
/* a:link{

}

a:visited{

}

a:hover{

}

a:active{

} */



a.inline{
    margin:0px;
    color: #aad1bf;
    text-decoration:underline;
}

a.inline:hover{
    text-decoration:none;
}

a.navlink{
    margin: 10px;
    color: var(--yellow);
    text-decoration: none;
    padding:2px;
}

a.navlink:hover{
    border-radius:5px;
    background-color: var(--green);
}

a.navlink-selected{
    background-color: var(--yellow);
    color: var(--darkgreen);
    margin: 10px;
    text-decoration:none;

    padding:2px;
    border-radius:5px;
}

a.navlink-selected:hover{
    border-radius:5px;
    background-color: var(--lightyellow);
}
/* ============================================================== */



/* ============================================================== */
/* About Me */
div.about-me-container{
    margin-top: 40px;
    margin-left:auto;
    margin-right:auto;
    width:70vw;

    min-height:300px;
    color:var(--lightyellow);


}

div.about-me-content{
    display: flex;
    align-items:stretch;
    justify-content: center;
    padding:10px;
}

img.selfie{

    border-color: var(--darkgreen);
    border-style:solid;
    border-width:10px;
    border-radius:30px;
    aspect-ratio: 1104/1254
}

div.about-me-text{
    color: var(--lightyellow);
    width:600px;
    margin-left: 30px;
    padding:5px;
    text-align:left;
}

p.my-title{
    font-size:20px;
    font-weight:bold;
}
p.my-story{
    font-size:14px;
    line-height:1.6;
}
/* ============================================================== */


/* ============================================================== */
/* Horizontal and Vertical Lines */

hr.section-divider{
    margin:0px;
    color: var(--lightyellow);
    height: 5px;
    background-color: var(--lightyellow);
}

hr.underline{
    margin:0px;
    margin-bottom:10px;
    color: var(--lightyellow);
    height: 1px;
    width: 300px;
    background-color: var(--lightyellow);
    align-self:center;
}
/* ============================================================== */