/* COLOR PALETTE
* 
* faded yellow: #e7e5c6
* yellow: #ffe393
* light green: #66876c
* green: #4e6853
* dark green: #3d4e41
* 
*/

:root{
    /*COLOR PALETTE*/
    --lightyellow: #e7e5c6;
    --yellow: #ffe393;
    --lightgreen: #66876c;
    --green: #4e6853;
    --darkgreen: #3d4e41;
    --linkcolor:#95C7C4;
    /* -------------------- */
}

div.project-header-text-container{
    margin-top:20px;
    margin-bottom:20px;
    margin-left:auto;
    margin-right:auto;

    display: flex;
    flex-direction: column;
}

div.project-header-text{
    font-size: 35px;
    margin-bottom:10px;
}

div.project-catalogue-container{
    width:70vw;
    margin-left:auto;
    margin-right:auto;
    margin-top: 50px;

    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
    
}

a.project-container-link{
    text-decoration: none;
    text-align:left;
}

div.project-container{
    width: 325px;
    height: 400px;

    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 50px;

    background-color: var(--lightgreen);
    border-radius: 20px;
    box-shadow: 7px 7px var(--darkgreen);

    scale:1;
    transition-property:scale;
    transition-duration:0.2s;
}

div.project-container:hover{
    scale:1.025
}

img.project-header-image{
    width:325px;
    height: 175px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

div.project-text-container{
    margin: 10px;
    margin-bottom:20px;
}

div.project-title-text{
    font-size:20px;
    margin-bottom:10px;
}

div.project-desc-text{
    font-size: 16px;
    color:var(--lightyellow);
    line-height:1.3;
}

div.project-tag-container{
    margin: 10px;
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-start;
}

hr.title-underline{
    margin:0px;
    margin-bottom:10px;
    color: var(--lightyellow);
    height: 2px;
    width: 200px;
    background-color: var(--lightyellow);
    align-self:center;
}