/* COLOR PALETTE
* 
* faded yellow: #e7e5c6
* yellow: #ffe393
* light green: #66876c
* green: #4e6853
* dark green: #3d4e41
* 
*/

@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

:root{
    /*COLOR PALETTE*/
    --lightyellow: #e7e5c6;
    --yellow: #ffe393;
    --lightgreen: #66876c;
    --green: #4e6853;
    --darkgreen: #3d4e41;
    --linkcolor:#95C7C4;
    /* -------------------- */

    background-color: var(--green);
    text-align: center;
    font-family: "Marmelad", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.alt-font{
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0px;
    overflow-x:hidden;
}

div{
    font-size: 20px;
    color: var(--yellow);
}

div.grid-container{
    margin: 0px;

    display:grid;
    grid-template-rows:auto 1fr auto;
    grid-template-columns:100%;
    
    min-height:100vh;
}


/* ============================================================== */
/* Page Transitions */
div.transition-screen{
    background-color:var(--green);
    width:100vw;
    height:100vh;
    z-index:100;
    pointer-events: none;
    position:fixed;
    top:0;
    left:0;
    opacity:0;
    
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

}

div.transition-screen.active{
    opacity:1;
    pointer-events: auto;
}

/* ============================================================== */


/* ============================================================== */
/* Header */

header{
    background-color: var(--darkgreen);
    padding-top: 10px;
    width:100vw;

    position:sticky;
    top:0;
    z-index:999;
}

div.header-container{
    display: flex;
    align-items:center;
    justify-content: space-between;

    margin-left:auto;
    margin-right:auto;

    width:90vw;
    height:40px;
    padding-bottom: 10px;

}

div.header-name{
    font-size:30px;
}


/* nav{

} */

/* ============================================================== */



/* ============================================================== */
/* Footer  */
footer{

    width:100vw;
    background-color: var(--darkgreen);

    padding-bottom:20px;

}

.contact-info-container{
    display: flex;
    flex-direction: column;
}


.contact-info-title-text{
    color:var(--lightyellow);
    font-size:20px;
    margin:5px;
}

.contact-info-text{
    color: var(--lightyellow);
    font-size: 12px;
}

.contact-link-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-self: center;
    align-items:center;
    margin-top:10px;
    width:200px;
}


a.icon-link{
    width: 50px;
    position:relative;
    aspect-ratio: 1/1;
}

a.mail{
    width:40px;
    scale:1.2;
    aspect-ratio: 891/721;
}

a.icon-link img{
    width:100%;
    height:100%;
}

img.top-link-icon{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

    transition-property: opacity;
    transition-duration: 0.1s;
}

img.top-link-icon:hover{
    opacity:1;
}

div.website-ownership{
    font-size:12px;
    color: var(--lightyellow);
    margin-top:10px;
    margin-bottom:10px;
}

div.icon-attribution{
    font-size:11px;
    color: var(--lightyellow);
    margin-top:5px;
    margin-bottom:5px;
}

/* ============================================================== */





/* ============================================================== */
/* Links and Navigation */
/* a:link{

}

a:visited{

}

a:hover{

}

a:active{

} */



a.inline{
    margin:0px;
    color: var(--linkcolor);
    text-decoration:underline;
}

a.inline:hover{
    text-decoration:none;
}

a.navlink-name{
    margin: 10px;
    color: var(--yellow);
    text-decoration: none;
    padding:2px;
}

a.navlink{
    margin: 10px;
    color: var(--yellow);
    text-decoration: none;
    padding:3px;
    background-color: var(--darkgreen);
    border-radius:5px;

    transition-property:background-color;
    transition-duration:0.3s;
    transition-timing-function: ease-in-out;
}

a.navlink:hover{
    border-radius:5px;
    background-color: var(--green);
}

a.navlink-selected{
    background-color: var(--yellow);
    color: var(--darkgreen);
    margin: 10px;
    text-decoration:none;

    padding:3px;
    border-radius:5px;

    transition-property:background-color;
    transition-duration:0.3s;
    transition-timing-function: ease-in-out;
}

a.navlink-selected:hover{
    border-radius:5px;
    background-color: var(--yellow);
}
/* ============================================================== */


/* ============================================================== */
/* Horizontal and Vertical Lines */

hr.section-divider{
    margin:0px;
    color: var(--lightyellow);
    height: 5px;
    background-color: var(--lightyellow);
}

hr.underline{
    margin:0px;
    margin-bottom:10px;
    color: var(--lightyellow);
    height: 1px;
    width: 300px;
    background-color: var(--lightyellow);
    align-self:center;
}
/* ============================================================== */